---
layout: archive
---

{{ content }}

<div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% if paginator %}
    {% assign postlist = paginator.posts %}
  {% else %}
    {% assign postlist = site.posts %}
  {% endif %}

  {% comment %} Először a kitűzött posztok (csak az első oldalon) {% endcomment %}
  {% if paginator.page == 1 or paginator == nil %}
    {% for post in site.posts %}
      {% if post.pinned %}
        {% include home-entry.html post=post pinned=true %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% comment %} Aztán a többi, a kitűzöttek kihagyásával {% endcomment %}
  {% for post in postlist %}
    {% unless post.pinned %}
      {% include home-entry.html post=post %}
    {% endunless %}
  {% endfor %}
</div>

{% include paginator.html %}
